<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/tim12</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">Sitim12</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hbm2ddl.auto">update</property>

	<mapping resource="Hotel.hbm.xml"></mapping>
	<mapping resource="Soba.hbm.xml"></mapping>
	<mapping resource="Rola.hbm.xml"></mapping>
	<mapping resource="Korisnickiracunxrola.hbm.xml"></mapping>
	<mapping resource="Klijent.hbm.xml"></mapping>
	<mapping resource="KorisnickiRacun.hbm.xml"></mapping>
	<mapping resource="Osoba.hbm.xml"></mapping>
	<mapping resource="Racun.hbm.xml"></mapping>
	<mapping resource="Rezervacija.hbm.xml"></mapping>
	<mapping resource="SlobodniTermini.hbm.xml"></mapping>
    <mapping resource="Termin.hbm.xml"></mapping>
    
 <!--    <property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>
    <mapping resource="dvdrental/FilmActor.hbm.xml"/>
    <mapping resource="dvdrental/FilmCategory.hbm.xml"/>
    <mapping resource="dvdrental/Category.hbm.xml"/>
    <mapping resource="dvdrental/Language.hbm.xml"/>
    <mapping resource="dvdrental/Film.hbm.xml"/>
    <mapping resource="dvdrental/Actor.hbm.xml"/> -->
  </session-factory>
</hibernate-configuration>
